<div  class="three columns pane backlog roundedcorners"><pane count="backlogCount" title="'Backlog'" clickaction="backlogclick"></pane></div>
<div  class="three columns pane applied roundedcorners"><pane count="appliedCount" title="'Applied'" clickaction="appliedclick"></pane></div>
<div  class="three columns pane today roundedcorners"><pane count="todayCount" title="'Today'" clickaction="todayclick"></pane></div>
<div  class="three columns pane inprogress roundedcorners"><pane count="inprocessCount" title="'In progress'" clickaction="inprocessclick"></pane></div>
